Repository berenddeboer/cdk-rds-sql: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-typescript, synth, compile-project, test

.pre-commit-config.yaml:

default_stages: [commit]
default_language_version:
  node: system
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: (API.md|.mergify.yml|.projen/|.github|tsconfig.dev.json|.gitignore|LICENSE|.gitattributes|.eslintrc.json)
      - id: trailing-whitespace
      - id: check-json
        exclude: tsconfig.json
      - id: detect-aws-credentials
      - id: detect-private-key
  - repo: https://github.com/talos-systems/conform
    rev: v0.1.0-alpha.26
    hooks:
      - id: conform
        stages:
          - commit-msg
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        exclude: (.mergify.yml|.projen/|.github|tsconfig.dev.json|.gitignore|LICENSE|.gitattributes|.eslintrc.json)
        stages:
          - commit
  - repo: local
    hooks:
      - id: build-typescript
        exclude: .projenrc.ts
        name: build-typescript
        language: system
        entry: sh -c 'npx tsc --noEmit'
        files: \.ts$
  - repo: local
    hooks:
      - id: synth
        name: synth
        language: system
        entry: sh -c 'npx cdk synth --quiet --context vpc-id=vpc-123456'
        files: src/.*\.ts$
  - repo: local
    hooks:
      - id: compile-project
        exclude: .projenrc.ts
        name: compile-project
        language: system
        entry: sh -c 'npx projen compile'
        files: \.ts$
  - repo: local
    hooks:
      - id: test
        exclude: .projenrc.ts
        name: test
        language: system
        entry: sh -c 'npx projen test'
        files: \.ts$

fix: recognise databaseName property when setting dbName property in secret
  .pre-commit-config.yaml
  src/role.ts
Due: build-typescript, synth, compile-project, test

feat: remove cluster from role, and use cluster from provider
  src/provider.ts
  src/role.ts
  test/stack.ts
Due: build-typescript, synth, compile-project, test

feat: check if either database or databaseName is set
  src/role.custom-resource.ts
  src/role.ts
  test/stack.test.ts
Due: build-typescript, synth, compile-project, test

refactor: rename stack to serverless stack
  test/app.ts
  test/serverless-stack.ts
  test/stack.test.ts
Due: build-typescript, compile-project, test

vendor: update and require latest cdk
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-main.yml
  .npmignore
  .projen/deps.json
  .projen/tasks.json
  .projenrc.ts
  package.json
  yarn.lock
Due: none

feat: use npm as package manager instead of yarn
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-main.yml
  .projen/tasks.json
  .projenrc.ts
  package-lock.json
  package.json
  yarn.lock
Due: none

feat: support database clusters and Aurora Serverless v2
  src/provider.ts
  test/app.ts
  test/serverlessv1-stack.ts
  test/serverlessv2-stack.ts
  test/stack.test.ts
Due: build-typescript, synth, compile-project, test

docs: provide example of privilege granting
  README.md
Due: none

build: revert back to yarn
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-main.yml
  .projen/tasks.json
  .projenrc.ts
  package-lock.json
  package.json
  yarn.lock
Due: none

docs: specify Aurora Serverless v1 and v2 are supported
  README.md
Due: none

vendor: upgrade projen to 0.6.34
  .github/workflows/pull-request-lint.yml
  package.json
  yarn.lock
Due: none

build: set major version to 2
  .projenrc.ts
Due: none

build: automatically release major versions
  .projenrc.ts
Due: none

build: set minMajorVersion to 2
  .projenrc.ts
Due: none

build: set majorVersion
  .projenrc.ts
Due: none

build: set min major version
  .projen/tasks.json
  .projenrc.ts
Due: none

fix: skip rename role name if rolename hasn't changed
  src/handler.ts
Due: build-typescript, synth, compile-project, test

feat: update node to v16
  src/provider.ts
Due: build-typescript, synth, compile-project, test

test: verify we can just update a role's password
  test/handler.test.ts
Due: build-typescript, compile-project, test

chore: use npm instead of yarn
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-main.yml
  .projen/tasks.json
  .projenrc.ts
  package-lock.json
  package.json
  yarn.lock
Due: none

ci: upgrade node version to 14
  .projenrc.ts
Due: none

ci: drop node version properties as they cause errors
  .projenrc.ts
  package-lock.json
Due: none

chore: upgrade projen
  .eslintrc.json
  .projen/deps.json
  package-lock.json
  package.json
Due: none

ci: disable github upgrade
  .projenrc.ts
Due: none

docs: fix typos
  README.md
Due: none

docs: correct typo
  README.md
Due: none

fix: support finding handler.js in SST
  .gitattributes
  .github/workflows/upgrade-main.yml
  .gitignore
  .projen/files.json
  src/provider.ts
Due: build-typescript, synth, compile-project, test

feat: require node 18 runtime
  src/provider.ts
Due: build-typescript, synth, compile-project, test

fix(role): match custom resource property name Fixes #8
  src/role.custom-resource.ts
Due: build-typescript, synth, compile-project, test

fix: extend connection timeout Fixes #7
  src/handler.ts
Due: build-typescript, synth, compile-project, test

feat: allow default database name different from root user name
  .projen/deps.json
  .projenrc.ts
  README.md
  package-lock.json
  package.json
  src/handler.ts
  src/provider.ts
  src/schema.ts
  src/sql.ts
  test/handler.test.ts
  test/serverlessv1-stack.ts
  test/serverlessv2-stack.ts
  test/util.ts
  test/vpc.ts
Due: build-typescript, synth, compile-project, test

chore: allow unused locals
  tsconfig.dev.json
Due: none

fix: grant explicit decrypt key permission when encryption key specified
  src/provider.ts
  src/role.ts
Due: build-typescript, synth, compile-project, test

feat: detect absence of a security group in an imported cluster
  src/provider.ts
  test/serverlessv2-stack.ts
  test/stack.test.ts
Due: build-typescript, synth, compile-project, test

docs: correct schema schemaName comment
  src/schema.ts
Due: build-typescript, synth, compile-project, test

fix(role): allow delete from database not called postgres
  src/handler.ts
  test/handler.test.ts
Due: build-typescript, synth, compile-project, test

fix: retry getting secret as IAM caching can fail just updated policies
  .projen/deps.json
  .projenrc.ts
  package-lock.json
  package.json
  src/handler.ts
  src/role.ts
Due: build-typescript, synth, compile-project, test

fix(role): remove dependency on secret, creates circular dependencies
  src/role.ts
Due: build-typescript, synth, compile-project, test

fix(provider): depend on (ingress) security group
  src/provider.ts
Due: build-typescript, synth, compile-project, test

feat: support deleting database and role under more circumstances
  src/handler.ts
Due: build-typescript, synth, compile-project, test
