Repository berenddeboer/cdk-rds-sql: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-typescript, synth, compile-project, test

build-typescript:
  name: build-typescript
  language: system
  entry: sh -c 'npx tsc --noEmit'

synth:
  name: synth
  language: system
  entry: sh -c 'npx cdk synth --quiet --context vpc-id=$VPC_ID'

compile-project:
  name: compile-project
  language: system
  entry: sh -c 'npx projen compile'

test:
  name: test
  language: system
  entry: sh -c 'npx projen test'

chore: reorder import
  .pre-commit-config.yaml
  src/iam-grant.ts
Due: build-typescript, synth, compile-project, test

fix(dsql): skip updating iam grant when nothing has changed
  AGENTS.md
  CLAUDE.md
  lambda/engine.abstract.ts
  lambda/engine.dsql.ts
  lambda/engine.mysql.ts
  lambda/engine.postgresql.ts
  lambda/handler.ts
  lambda/types.ts
Due: build-typescript, compile-project, test

fix(dsql): create stable physical resource id for iam grants
  .gitignore
  .npmignore
  .projenrc.ts
  lambda/handler.ts
  lambda/types.ts
  src/iam-grant.ts
Due: build-typescript, synth, compile-project, test

feat(role): skip secret creation when enableIamAuth is true
  README.md
  src/role.ts
  test/custom-resource-properties.test.ts
Due: build-typescript, synth, compile-project, test

fix(role): support parameterPrefix with enableIamAuth
  src/role.ts
  test/custom-resource-properties.test.ts
Due: build-typescript, synth, compile-project, test

chore: update lock file
  package-lock.json
Due: none

feat(role): skip secret creation when enableIamAuth is true (#55)
  README.md
  package-lock.json
  src/role.ts
  test/custom-resource-properties.test.ts
Due: build-typescript, synth, compile-project, test

vendor: projen upgrade and other libs
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-main.yml
  .gitignore
  .projen/files.json
  .projen/tasks.json
  .projenrc.ts
  package-lock.json
  package.json
Due: none

vendor: projen upgrade and other libs (#56)
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-main.yml
  .gitignore
  .projen/files.json
  .projen/tasks.json
  .projenrc.ts
  package-lock.json
  package.json
Due: none

chore: migrate project tooling to pnpm
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-main.yml
  .gitignore
  .npmrc
  .projen/files.json
  .projen/tasks.json
  .projenrc.ts
  AGENTS.md
  CLAUDE.md
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

fix: allow pnpm pack with bundled dependencies
  .gitattributes
  .gitignore
  .projen/files.json
  .projenrc.ts
  pnpm-workspace.yaml
Due: none

chore: clarify pnpm workflow configuration
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-main.yml
  .projenrc.ts
Due: none

chore: migrate project tooling to pnpm (#58)
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-main.yml
  .gitignore
  .npmrc
  .projen/files.json
  .projen/tasks.json
  .projenrc.ts
  AGENTS.md
  CLAUDE.md
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: keep instance role secret test lint-stable
  test/instance-stack.test.ts
Due: build-typescript, compile-project, test

fix: use dbInstanceIdentifier in Role secret for DatabaseInstance providers (#59)
  src/role.ts
  test/instance-stack.test.ts
Due: build-typescript, synth, compile-project, test

fix: use %L instead of '%s' in pg_database existence check
  lambda/engine.postgresql.ts
Due: build-typescript, compile-project, test

fix: use %L instead of '%s' in pg_database existence check (#61)
  lambda/engine.postgresql.ts
Due: build-typescript, compile-project, test

chore: upgrade projen tooling
  .eslintrc.json
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/pull-request-lint.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-main.yml
  .gitignore
  .mergify.yml
  .npmignore
  .npmrc
  .projen/deps.json
  .projen/files.json
  .projen/tasks.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.dev.json
Due: none

chore: upgrade projen tooling (#62)
  .eslintrc.json
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/pull-request-lint.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-main.yml
  .gitignore
  .mergify.yml
  .npmignore
  .npmrc
  .projen/deps.json
  .projen/files.json
  .projen/tasks.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.dev.json
Due: none

fix: use stack partition for ssm DeleteParameter policy ARN
  src/provider.ts
  test/cluster-stack.test.ts
Due: build-typescript, synth, compile-project, test

test: remove partition unit tests added in prior commit
  test/cluster-stack.test.ts
Due: build-typescript, compile-project, test

chore: update Claude workflow automation
  .gitattributes
  .github/dependabot.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .gitignore
  .npmrc
  .projen/files.json
  .projenrc.ts
Due: none

chore: update Claude workflow automation (#65)
  .gitattributes
  .github/dependabot.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .gitignore
  .npmrc
  .projen/files.json
  .projenrc.ts
Due: none

fix: use stack partition for ssm parameter ARN in role and reformat policy
  src/provider.ts
  src/role.ts
Due: build-typescript, synth, compile-project, test

test: update partition-aware SSM ARN assertion
  test/cluster-stack.test.ts
Due: build-typescript, compile-project, test

fix: use stack partition for ssm DeleteParameter policy ARN (#64)
  src/provider.ts
  src/role.ts
  test/cluster-stack.test.ts
Due: build-typescript, synth, compile-project, test

feat: enable pypi publish (#52)
  .github/workflows/build.yml
  .github/workflows/release.yml
  .mergify.yml
  .npmignore
  .projen/tasks.json
  .projenrc.ts
  package.json
  src/provider.ts
Due: build-typescript, synth, compile-project, test

chore: disable dependency upgrade workflow
  .gitattributes
  .github/workflows/upgrade-main.yml
  .gitignore
  .pre-commit-config.yaml
  .projen/files.json
  .projenrc.ts
Due: none

fix: refresh password parameter on secret updates
  src/role.ts
  test/cluster-stack.test.ts
Due: build-typescript, synth, compile-project, test

chore: disable dependency upgrade workflow (#78)
  .gitattributes
  .github/workflows/upgrade-main.yml
  .gitignore
  .pre-commit-config.yaml
  .projen/files.json
  .projenrc.ts
Due: none

fix: type password parameter sync trigger
  lambda/types.ts
  src/role.ts
Due: build-typescript, synth, compile-project, test

fix: refresh password parameter on secret updates (#79)
  lambda/types.ts
  src/role.ts
  test/cluster-stack.test.ts
Due: build-typescript, synth, compile-project, test

fix: use trusted publishing for PyPI
  .github/workflows/release.yml
  .projenrc.ts
Due: none

feat: enable pypi publish (#52) (#76)
  .github/workflows/build.yml
  .github/workflows/release.yml
  .mergify.yml
  .npmignore
  .projen/tasks.json
  .projenrc.ts
  package.json
  src/provider.ts
Due: build-typescript, synth, compile-project, test

Path conditions:
  build-typescript: any of: \.ts$, but not: .projenrc.ts
  synth: any of: src/.*\.ts$
  compile-project: any of: \.ts$, but not: .projenrc.ts
  test: any of: \.ts$, but not: .projenrc.ts
