Repository berenddeboer/cdk-rds-sql: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-typescript, synth, compile-project, test

build-typescript:
  name: build-typescript
  language: system
  entry: sh -c 'npx tsc --noEmit'

synth:
  name: synth
  language: system
  entry: sh -c 'npx cdk synth --quiet --context vpc-id=vpc-123456'

compile-project:
  name: compile-project
  language: system
  entry: sh -c 'npx projen compile'

test:
  name: test
  language: system
  entry: sh -c 'npx projen test'

fix: retry longer as IAM update delays still happen after 1500ms
  src/handler.ts
Due: build-typescript, synth, compile-project, test

feat: update constructs to 10.3.0 and cdk to 2.124.0
  .projen/deps.json
  .projenrc.ts
  package-lock.json
  package.json
Due: none

feat: make logging optional
  src/handler.ts
  src/provider.ts
  test/serverlessv2-stack.ts
Due: build-typescript, synth, compile-project, test

feat: place sql lambda handler explicitly in a private isolated network
  src/provider.ts
  test/stack.test.ts
Due: build-typescript, synth, compile-project, test

chore(src/handler.ts): add logging
  src/handler.ts
Due: build-typescript, synth, compile-project, test

docs: provide example of using a different subnet type
  README.md
Due: none

vendor: upgrade to projen 0.81.10
  .eslintrc.json
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/pull-request-lint.yml
  .github/workflows/release.yml
  .gitignore
  .mergify.yml
  .npmignore
  .pre-commit-config.yaml
  .projen/deps.json
  .projen/files.json
  .projen/tasks.json
  .projenrc.ts
  package-lock.json
  package.json
  tsconfig.dev.json
Due: none

vendor: remove probably obsolete fix
  .projenrc.ts
Due: none

chore: rebuild pipeline
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

chore: changes made to files by projen after running test
  test/handler.test.ts
  test/stack.test.ts
Due: build-typescript, compile-project, test

debug: really enable source maps
  src/provider.ts
Due: build-typescript, synth, compile-project, test

chore: drop unused package aws-lambda
  .projen/deps.json
  .projen/tasks.json
  .projenrc.ts
  package-lock.json
  package.json
Due: none

chore: add @types/aws-lambda to bundledDependencies
  .projen/deps.json
  .projen/tasks.json
  .projenrc.ts
  package-lock.json
  package.json
Due: none

vendor: upgrade aw-sdk to 3.578
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: none

feat(provider.ts): enable lambda customization
  src/provider.ts
  test/serverlessv2-stack.ts
Due: build-typescript, synth, compile-project, test

test(test/handler.test.ts): increase timeout
  test/handler.test.ts
Due: build-typescript, compile-project, test

fix(role): allow role without db
  src/role.custom-resource.ts
Due: build-typescript, synth, compile-project, test

fix(provider): remove circular dependency
  src/provider.ts
Due: build-typescript, synth, compile-project, test

chore: reformat code as per spec
  src/role.custom-resource.ts
Due: build-typescript, synth, compile-project, test

feat: retry role creation as this frequently fails with: tuple concurrently updated
  src/handler.ts
Due: build-typescript, synth, compile-project, test

fix(src/handler.ts): drop role with permissions
  src/handler.ts
Due: build-typescript, synth, compile-project, test

fix(src/handler.ts): handle non-existent roles
  src/handler.ts
Due: build-typescript, synth, compile-project, test

style: format
  src/handler.ts
Due: build-typescript, synth, compile-project, test

fix(src/handler.ts): revert role behavior
  src/handler.ts
Due: build-typescript, synth, compile-project, test

feat(sql): enable rollback
  src/handler.ts
  src/sql.ts
  test/serverlessv1-stack.ts
  test/serverlessv2-stack.ts
Due: build-typescript, synth, compile-project, test

docs(README.md): update the README with information on rollback
  README.md
Due: none

test(test/serverlessv2-stack.ts): add a robust rollback example
  test/serverlessv2-stack.ts
Due: build-typescript, compile-project, test

feat: add support for RDS postgres instances
  .github/workflows/release.yml
  .projen/deps.json
  .projenrc.ts
  README.md
  package-lock.json
  package.json
  src/database.ts
  src/provider.ts
  src/role.custom-resource.ts
  src/role.ts
  src/schema.ts
  src/sql.ts
  test/instance-stack.test.ts
  test/instance1-stack.ts
  test/instance2-stack.ts
Due: build-typescript, synth, compile-project, test

feat: add improvements and some fixes
  .gitignore
  .npmignore
  .projenrc.ts
  src/handler.ts
Due: build-typescript, synth, compile-project, test

feat: adds support for IDatabaseInstance type
  .projen/deps.json
  .projenrc.ts
  README.md
  package-lock.json
  package.json
  src/handler.ts
  src/provider.ts
  src/role.ts
  test/instance-stack.test.ts
  test/instance1-stack.ts
  test/instance2-stack.ts
Due: build-typescript, synth, compile-project, test

fix: add functionProps to custom resource lambda
  src/provider.ts
  test/instance1-stack.ts
  test/instance2-stack.ts
Due: build-typescript, synth, compile-project, test

added option to set extra connection properties when connecting to the database
  README.md
  src/database.ts
  src/handler.ts
  src/provider.ts
  src/role.custom-resource.ts
  src/schema.ts
  src/sql.ts
Due: build-typescript, synth, compile-project, test

vendor: update projen to fix build errors in github pipeline perhaps
  .eslintrc.json
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  .projen/deps.json
  .projen/tasks.json
  package-lock.json
  package.json
Due: none

build: add @types/pg as peer dependency
  .projenrc.ts
Due: none

build: make @types/pg a bundled dependency
  .projenrc.ts
Due: none

build: keep @types/pg as devDeps
  .projenrc.ts
Due: none

build: update projen node workflow version
  .github/workflows/build.yml
  .github/workflows/release.yml
  .projen/deps.json
  package-lock.json
  package.json
Due: none

chore: revert "added option to set extra connection properties when connecting to the database"
  README.md
  src/database.ts
  src/handler.ts
  src/provider.ts
  src/role.custom-resource.ts
  src/schema.ts
  src/sql.ts
Due: build-typescript, synth, compile-project, test

chore: remove @types/pg
  .projen/deps.json
  .projenrc.ts
  package-lock.json
  package.json
  test/util.ts
Due: build-typescript, compile-project, test

Path conditions:
  build-typescript: any of: \.ts$, but not: .projenrc.ts
  synth: any of: src/.*\.ts$
  compile-project: any of: \.ts$, but not: .projenrc.ts
  test: any of: \.ts$, but not: .projenrc.ts
