Repository berenddeboer/cdk-rds-sql: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-typescript, synth, compile-project, test

.pre-commit-config.yaml:

default_stages: [commit]
default_language_version:
  node: system
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: (API.md|.mergify.yml|.projen/|.github|tsconfig.dev.json|.gitignore|LICENSE|.gitattributes|.eslintrc.json)
      - id: trailing-whitespace
      - id: check-json
        exclude: (tsconfig.json|.eslintrc.json|tsconfig.dev.json)
      - id: detect-aws-credentials
      - id: detect-private-key
  - repo: https://github.com/talos-systems/conform
    rev: v0.1.0-alpha.26
    hooks:
      - id: conform
        stages:
          - commit-msg
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        exclude: (.mergify.yml|.projen/|.github|tsconfig.dev.json|.gitignore|LICENSE|.gitattributes|.eslintrc.json)
        stages:
          - commit
  - repo: local
    hooks:
      - id: build-typescript
        exclude: .projenrc.ts
        name: build-typescript
        language: system
        entry: sh -c 'npx tsc --noEmit'
        files: \.ts$
  - repo: local
    hooks:
      - id: synth
        name: synth
        language: system
        entry: sh -c 'npx cdk synth --quiet --context vpc-id=$VPC_ID'
        files: src/.*\.ts$
  - repo: local
    hooks:
      - id: compile-project
        exclude: .projenrc.ts
        name: compile-project
        language: system
        entry: sh -c 'npx projen compile'
        files: \.ts$
  - repo: local
    hooks:
      - id: test
        exclude: .projenrc.ts
        name: test
        language: system
        entry: sh -c 'npx projen test'
        files: \.ts$

Revert "feat: extra database connection properties"
  README.md
  src/database.ts
  src/handler.ts
  src/provider.ts
  src/role.custom-resource.ts
  src/schema.ts
  src/sql.ts
Due: build-typescript, synth, compile-project, test

merged upstream changes
  .eslintrc.json
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/release.yml
  .projen/deps.json
  .projen/tasks.json
  README.md
  package-lock.json
  package.json
  src/database.ts
  src/handler.ts
  src/provider.ts
  src/role.custom-resource.ts
  src/schema.ts
  src/sql.ts
Due: build-typescript, synth, compile-project, test

updated package lock?
  .eslintrc.json
  .gitattributes
  .projen/deps.json
  .projen/tasks.json
  package-lock.json
  package.json
Due: none

reverted progen automatic changes
  .github/workflows/build.yml
  .github/workflows/pull-request-lint.yml
  .github/workflows/release.yml
  .projenrc.ts
Due: none

added missing newlines...
  .github/workflows/build.yml
  .github/workflows/pull-request-lint.yml
  .github/workflows/release.yml
  .projenrc.ts
Due: none

Grant access to schema for role (#36)
  README.md
  src/handler.ts
  src/schema.ts
Due: build-typescript, synth, compile-project, test

Reduce code duplicity
  src/handler.ts
Due: build-typescript, synth, compile-project, test

Add tests for 'Grant access to schema for role' (#36)
  src/handler.ts
  test/handler.test.ts
  test/util.ts
Due: build-typescript, synth, compile-project, test

Remove unnecessary grants (#36)
  src/handler.ts
Due: build-typescript, synth, compile-project, test

feat!: enable ssl by default
  README.md
  src/handler.ts
  src/provider.ts
  test/handler.test.ts
  test/serverlessv2-stack.ts
  test/stack.test.ts
Due: build-typescript, synth, compile-project, test

chore: make params type safe
  .projen/deps.json
  .projen/tasks.json
  .projenrc.ts
  package-lock.json
  package.json
  src/handler.ts
Due: build-typescript, synth, compile-project, test

feat: enable ssl by default
  .projen/deps.json
  .projen/tasks.json
  .projenrc.ts
  README.md
  package-lock.json
  package.json
  src/handler.ts
  src/provider.ts
  test/handler.test.ts
  test/serverlessv2-stack.ts
  test/stack.test.ts
Due: build-typescript, synth, compile-project, test

docs: spell vpcSubnets properly
  README.md
Due: none

feat: allow handler duration to be set via functionProps in addition to timeout
  src/provider.ts
  test/stack.test.ts
Due: build-typescript, synth, compile-project, test

fix: ssl is no longer the default
  src/handler.ts
  src/provider.ts
Due: build-typescript, synth, compile-project, test

test: drop most aurora serverless v1 tests as this is deprecated
  test/app.ts
  test/serverlessv1-stack.ts
  test/serverlessv2-stack.ts
  test/stack.test.ts
  test/vpc.ts
Due: build-typescript, compile-project, test

test: add ability to run test deploy with projen
  .gitignore
  .npmignore
  .projen/tasks.json
  .projenrc.ts
  README.md
  package.json
Due: none

feat: add handler security group as allowed connection to cluster security group
  src/provider.ts
Due: build-typescript, synth, compile-project, test

fix: fix bad custom rollback sql as this causes destroy failures
  .projen/tasks.json
  .projenrc.ts
  package.json
  test/app.ts
  test/serverlessv2-stack.ts
Due: build-typescript, compile-project, test

feat: enforce ssl by default and verify certificates
  src/handler.ts
  src/provider.ts
Due: build-typescript, synth, compile-project, test

chore: log if connection was secure or not
  src/handler.ts
Due: build-typescript, synth, compile-project, test

docs: remove obsolete comment
  README.md
Due: none

vendor: upgrade code to more modern versions
  .github/workflows/pull-request-lint.yml
  .github/workflows/release.yml
  .mergify.yml
  .pre-commit-config.yaml
  .projen/deps.json
  .projen/tasks.json
  .projenrc.ts
  package-lock.json
  package.json
  test/handler.test.ts
  tsconfig.json
Due: build-typescript, compile-project, test

feat: move lambda handler code into compiled .js
  .gitignore
  .npmignore
  .projen/deps.json
  .projen/tasks.json
  .projenrc.ts
  lambda/handler.test.ts
  lambda/handler.ts
  lambda/util.ts
  package-lock.json
  package.json
  src/handler/handler.d.ts
  src/handler/index.ts
  src/provider.ts
Due: build-typescript, synth, compile-project, test

test: include lambda/handler.test.ts in tests again
  .projenrc.ts
  lambda/handler.test.ts
  package.json
Due: build-typescript, compile-project, test

feat: add support for mysql clusters
  .gitignore
  .npmignore
  .projen/deps.json
  .projen/tasks.json
  .projenrc.ts
  lambda/engine.abstract.ts
  lambda/engine.factory.ts
  lambda/engine.mysql.test.ts
  lambda/engine.mysql.ts
  lambda/engine.postgresql.ts
  lambda/handler.mysql.test.ts
  lambda/handler.postgresql.test.ts
  lambda/handler.ts
  lambda/util.ts
  package-lock.json
  package.json
  test/app.ts
  test/serverlessv2-stack.ts
Due: build-typescript, compile-project, test

refactor: exclude aws-sdk libraries in hander build
  .projen/tasks.json
  .projenrc.ts
Due: none

refactor: drop excluding pg-native as this is no longer applicable
  src/provider.ts
Due: build-typescript, synth, compile-project, test

test: enforce ssl setting server side
  test/serverlessv2-stack.ts
Due: build-typescript, compile-project, test

refactor: drop useless async methods
  lambda/engine.abstract.ts
  lambda/engine.mysql.test.ts
  lambda/engine.mysql.ts
  lambda/engine.postgresql.ts
  lambda/handler.ts
Due: build-typescript, compile-project, test

feat: remove Aurora Serverless v1 support
  .projenrc.ts
  src/provider.ts
  src/role.ts
  test/stack.test.ts
Due: build-typescript, synth, compile-project, test

feat: use correct engine based on postgres or mysql/mariadb cluster or instance
  .eslintrc.json
  .projenrc.ts
  package.json
  src/provider.ts
  test/cluster-stack.test.ts
  test/instance-stack.test.ts
  test/instance1-stack.ts
  test/instance2-stack.ts
Due: build-typescript, synth, compile-project, test

feat: emit parameters when the parameterPrefix on role is set
  .projen/deps.json
  .projen/tasks.json
  .projenrc.ts
  README.md
  lambda/handler.ts
  package-lock.json
  package.json
  src/enum.ts
  src/role.ts
  test/cluster-stack.test.ts
  test/vpc.ts
Due: build-typescript, synth, compile-project, test

fix: use passwordArn to set role secret parameter
  README.md
  lambda/handler.ts
  src/provider.ts
  src/role.ts
Due: build-typescript, synth, compile-project, test

docs: document mysql and ipv6
  README.md
Due: none

refactor: use strict typing for resource properties
  lambda/handler.ts
  lambda/types.ts
  lambda/util.ts
  src/role.ts
Due: build-typescript, synth, compile-project, test

feat(role): when the database name on a role changes, revoke privileges on the old database
  lambda/engine.abstract.ts
  lambda/engine.mysql.test.ts
  lambda/engine.mysql.ts
  lambda/engine.postgresql.test.ts
  lambda/engine.postgresql.ts
  lambda/handler.ts
Due: build-typescript, compile-project, test

docs: document that a databasename is required
  README.md
  src/role.ts
Due: build-typescript, synth, compile-project, test

fix: grant handler permanent permission to delete its own parameters
  lambda/handler.ts
  src/provider.ts
  src/role.ts
  test/cluster-stack.test.ts
Due: build-typescript, synth, compile-project, test
