Repository berenddeboer/cdk-rds-sql: changes, and which pre-commit hooks are due for each by the changed paths.
All: build-typescript, synth, compile-project, test

.pre-commit-config.yaml:

default_stages: [commit]
default_language_version:
  node: system
fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: (API.md|.mergify.yml|.projen/|.github|tsconfig.dev.json|.gitignore|LICENSE|.gitattributes|.eslintrc.json)
      - id: trailing-whitespace
      - id: check-json
        exclude: (tsconfig.json|.eslintrc.json|tsconfig.dev.json)
      - id: detect-aws-credentials
      - id: detect-private-key
  - repo: https://github.com/talos-systems/conform
    rev: v0.1.0-alpha.26
    hooks:
      - id: conform
        stages:
          - commit-msg
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.7.1"
    hooks:
      - id: prettier
        exclude: (.mergify.yml|.projen/|.github|tsconfig.dev.json|.gitignore|LICENSE|.gitattributes|.eslintrc.json)
        stages:
          - commit
  - repo: local
    hooks:
      - id: build-typescript
        exclude: .projenrc.ts
        name: build-typescript
        language: system
        entry: sh -c 'npx tsc --noEmit'
        files: \.ts$
  - repo: local
    hooks:
      - id: synth
        name: synth
        language: system
        entry: sh -c 'npx cdk synth --quiet --context vpc-id=$VPC_ID'
        files: src/.*\.ts$
  - repo: local
    hooks:
      - id: compile-project
        exclude: .projenrc.ts
        name: compile-project
        language: system
        entry: sh -c 'npx projen compile'
        files: \.ts$
  - repo: local
    hooks:
      - id: test
        exclude: .projenrc.ts
        name: test
        language: system
        entry: sh -c 'npx projen test'
        files: \.ts$

fix: add required iam actions to retrieve parameters
  README.md
  src/role.ts
  test/cluster-stack.test.ts
Due: build-typescript, synth, compile-project, test

fix: retry putting ssm parameter as IAM permissions may still be propagating
  lambda/handler.ts
Due: build-typescript, compile-project, test

fix: increase initial wait time before retrying ssm parameter action
  .projenrc.ts
  lambda/handler.ts
  package.json
Due: build-typescript, compile-project, test

feat: add IAM authentication support to Role construct
  lambda/engine.abstract.ts
  lambda/engine.mysql.test.ts
  lambda/engine.mysql.ts
  lambda/engine.postgresql.test.ts
  lambda/engine.postgresql.ts
  src/role.custom-resource.ts
  src/role.ts
Due: build-typescript, synth, compile-project, test

docs: add IAM authentication documentation to README
  README.md
Due: none

feat: add IAM authentication support to Role construct (#49)
  README.md
  lambda/engine.abstract.ts
  lambda/engine.mysql.test.ts
  lambda/engine.mysql.ts
  lambda/engine.postgresql.test.ts
  lambda/engine.postgresql.ts
  src/role.custom-resource.ts
  src/role.ts
Due: build-typescript, synth, compile-project, test

chore: remove unnecessary tabs
  lambda/engine.mysql.ts
Due: build-typescript, compile-project, test

chore: remove unnecessary tabs
  lambda/engine.postgresql.ts
Due: build-typescript, compile-project, test

refactor: large refactor of lambda code to use types much better
  .eslintrc.json
  .projen/tasks.json
  .projenrc.ts
  CLAUDE.md
  lambda/engine.abstract.ts
  lambda/engine.factory.ts
  lambda/engine.mysql.test.ts
  lambda/engine.mysql.ts
  lambda/engine.postgresql.test.ts
  lambda/engine.postgresql.ts
  lambda/handler.mysql.test.ts
  lambda/handler.postgresql.test.ts
  lambda/handler.ts
  lambda/types.ts
  package.json
  src/handler/handler.d.ts
  tsconfig.dev.json
Due: build-typescript, synth, compile-project, test

refactor: enable noUncheckedIndexedAccess
  .projenrc.ts
  src/provider.ts
  tsconfig.dev.json
Due: build-typescript, synth, compile-project, test

refactor: remove unused imports
  .projenrc.ts
  lambda/handler.ts
  tsconfig.dev.json
Due: build-typescript, compile-project, test

refactor: use nodejs 22 instead of nodejs 20 for the handler
  src/provider.ts
  test/cluster-stack.test.ts
Due: build-typescript, synth, compile-project, test

test: enable lambda tests by default
  .projenrc.ts
  lambda/handler.mysql.test.ts
  lambda/handler.postgresql.test.ts
  package.json
Due: build-typescript, compile-project, test

fix: treat false or missing EnableIamAuth as false instead of true
  .github/workflows/build.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  lambda/handler.test.ts
  lambda/handler.ts
  lambda/types.ts
  lambda/util.ts
Due: build-typescript, compile-project, test

fix: skip existing role update with new EnableIamAuth feature
  src/role.custom-resource.ts
Due: build-typescript, synth, compile-project, test

test: speedup mysql and postgreql db tests
  lambda/handler.mysql.test.ts
  lambda/handler.postgresql.test.ts
Due: build-typescript, compile-project, test

test: increase parallellism
  .github/workflows/pull-request-lint.yml
  .projenrc.ts
  CLAUDE.md
  package.json
Due: none

test: speedup mysql and postgreql db tests (#51)
  .github/workflows/pull-request-lint.yml
  .projenrc.ts
  CLAUDE.md
  lambda/handler.mysql.test.ts
  lambda/handler.postgresql.test.ts
  package.json
Due: build-typescript, compile-project, test

vendor: upgrade projen and other libraries to latest
  .eslintrc.json
  .github/workflows/build.yml
  .github/workflows/pull-request-lint.yml
  .github/workflows/release.yml
  .projen/deps.json
  .projenrc.ts
  README.md
  lambda/handler.ts
  package-lock.json
  package.json
  src/role.custom-resource.ts
  tsconfig.dev.json
Due: build-typescript, synth, compile-project, test

chore: run jest without coverage to speed things up
  .pre-commit-config.yaml
Due: none

test: set max workers to 75%
  .projenrc.ts
  package.json
Due: none

feat: set max timeout to retrieve a secret
  README.md
  lambda/engine.abstract.ts
Due: build-typescript, compile-project, test

vendor: upgrade to jsii 5.9 and many other vendor upgrades
  .github/workflows/build.yml
  .github/workflows/pull-request-lint.yml
  .github/workflows/release.yml
  .mergify.yml
  .projen/deps.json
  .projenrc.ts
  package-lock.json
  package.json
Due: none

chore: update tsconfig.json
  tsconfig.json
Due: none

chore: update pre-commit stage name
  .pre-commit-config.yaml
Due: none

ci: enable trusted publisher
  .github/workflows/release.yml
  .projenrc.ts
  AGENTS.md
  CLAUDE.md
  README.md
Due: none

docs: ssl default is true
  src/provider.ts
Due: build-typescript, synth, compile-project, test

feat: add support for dsql
  .pre-commit-config.yaml
  .prettierignore
  .projen/deps.json
  .projen/tasks.json
  .projenrc.ts
  README.md
  lambda/engine.abstract.ts
  lambda/engine.dsql.ts
  lambda/engine.factory.ts
  lambda/engine.mysql.ts
  lambda/engine.postgresql.ts
  lambda/handler.ts
  lambda/types.ts
  package-lock.json
  package.json
  src/database.ts
  src/enum.ts
  src/iam-grant.ts
  src/index.ts
  src/provider.ts
  src/role.custom-resource.ts
  src/role.ts
  src/schema.ts
  src/sql.ts
  test/app.ts
  test/dsql-stack.ts
  test/query-lambda.ts
  test/serverlessv2-stack.ts
Due: build-typescript, synth, compile-project, test

chore: drop removed dependency
  .projen/tasks.json
Due: none

feat: add fromProviderAttributes constructor
  .claude/settings.json
  .eslintrc.json
  .gitignore
  .npmignore
  .projenrc.ts
  lambda/handler.ts
  src/database.ts
  src/iam-grant.ts
  src/provider.ts
  src/role.custom-resource.ts
  src/role.ts
  src/schema.ts
  src/sql.ts
  test/__snapshots__/custom-resource-properties.test.ts.snap
  test/cluster-stack.test.ts
  test/custom-resource-properties.test.ts
  test/instance-stack.test.ts
Due: build-typescript, synth, compile-project, test

fix(role,dsql): recreate renamed role on dsql
  .conform.yaml
  AGENTS.md
  lambda/engine.dsql.ts
Due: build-typescript, compile-project, test

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

chore: add Claude Code GitHub Workflow (#53)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix(dsql,role): run update role sql in multiple transactions
  lambda/engine.dsql.ts
Due: build-typescript, compile-project, test

refactor(dsql): remove code duplication for creating and deleting role
  CLAUDE.md
  lambda/engine.dsql.ts
Due: build-typescript, compile-project, test

fix(dsql): handle dropping IAM grants when role is dropped
  .claude/hooks/lint
  lambda/engine.abstract.ts
  lambda/engine.dsql.ts
  lambda/engine.mysql.test.ts
  lambda/engine.mysql.ts
  lambda/engine.postgresql.ts
  lambda/handler.ts
Due: build-typescript, compile-project, test

fix(dsql): ignore revoking an iam grant error when role no longer exists
  lambda/engine.dsql.ts
Due: build-typescript, compile-project, test

feat(dsql): use custom resource type Custom::DsqlIamGrant
  src/iam-grant.ts
Due: build-typescript, synth, compile-project, test

fix(dsql): create iam grant with unique physical id
  .claude/settings.json
  lambda/handler.ts
  src/iam-grant.ts
Due: build-typescript, synth, compile-project, test
